@media screen {
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    justify-content: center;
    flex-wrap: wrap;  
 
}

.flex-item {
    background-color: #bccebd;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;
    text-align: center;
}

a {
    background-color: transparent;
}

h1 {
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 10px;


}
h2 {
        background-color: rgb(133, 240, 208);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0px;


}

section {
    margin-bottom: 20px;
}

figure {
    display: flex;
    flex-flow: row;
    margin: 20px 0;
    justify-content: center;      
    }
    
    .header-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .header-container img {
        width: 90px;
        height: auto;
        border-radius: 8px;
    }
    
    
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 15px;
    }
    
    nav ul li {
        display: inline;
        margin: 10px;
        position: relative;
    
    }
    
    nav ul li a {
        text-decoration: none;
        color: #007BFF;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }
    
    footer {
        text-align: center;
        font-size: 14px;
        color: #777;
        margin-top: 20px;
    }
    
    
    @media (max-width: 600px) {
        .header-container {
            flex-direction: column;
            align-items: center;
        }
    
        nav ul {
            flex-direction: column;
            gap: 10px;
        }
    }
    
    header {
        border: 10px;
        ;
        margin: 10px;
    }
    
    .menu {
        border: 10px;
        margin: 10px;
        background-color: aquamarine;
}


body {
    background-color: #e0f7fa;
    align-items: left;
    justify-content: left;
    padding: 10px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
