@media screen {
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    justify-content: center;
    flex-wrap: wrap;
 
   
 
}

.flex-item {
    background-color: #bccebd;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;
    text-align: center;


}


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

a {
    background-color: transparent;
}

h2 {
        background-color: rgb(133, 240, 208);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0px;


}

section {
    margin-bottom: 20px;
}

figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}


